*.DS_Store
*.env
*.env.*
!.env.example
!.env.sample
!.env.template
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.next/
dist/
build/
out/
coverage/
*.egg-info/

.venv/
venv/
env/

*.pid
*.db
*.sqlite3
db.sqlite3

.vscode/
.idea/
*.swp

.cache/
.nox/
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/
__pypackages__/

yarn-error.log
npm-debug.log

db/localdata/
